body{
    margin: 30px;
}
#forms{
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
p{
    text-align: left;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
}
form{
    border-radius: 20px ;
    padding: 15px;
    border: solid;
    border-color: black;
}
hr{
    width: 100%;
}
#opciones{
    margin-bottom: 20px;
}
label{
    text-align: left;
    font-size: 18px ;
    float: left;
    width: 55%;
}
input{
    width: 40%;
    float: right;
}
input[name="submit"]{
    width: 100px;
    border-radius: 100px;
    border: solid ;
    border-color: rgb(38, 95, 38);
    background-color: rgb(66, 204, 66);
}
input[name="submit"]:hover{
    border-color: rgb(33, 80, 22);
    background-color: rgb(43, 107, 43);
    color: white;
}
#enviar{
    width: 100%;
}
#enviar input[name="submit"]{
    width: 110px;
    border-radius: 100px;
    border: solid ;
    border-color: rgb(38, 95, 38);
    background-color: rgb(66, 204, 66);
}
#enviar input[name="submit"]:hover{
    border-color: rgb(33, 80, 22);
    background-color: rgb(43, 107, 43);
    color: white;
}
#enviar #borrar{
    float: left;
    border-radius: 100px;
    border: solid ;
    border-color: rgb(122, 38, 38);
    background-color: rgb(202, 50, 50);
}
#enviar #borrar:hover{
    border-color: rgb(75, 16, 16);
    background-color: rgb(110, 29, 29);
    color: white;
}