body{
    margin: 30px;
}
#form{
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    border-radius: 20px ;
    padding: 15px;
    text-align: center;
    border: solid;
    border-color: black;
}
label{
    float: left;
    text-align: left;
    font-size: 29px;
    color: rgb(0, 0, 0);
}
input{
    width: 80%;
    height: 20px;
    margin: 7px;
}
input[name="submit"]{
    margin-top: 12px;
    padding-bottom: 20px ;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: solid ;
    border-color: rgb(54, 154, 54);
    background-color: rgb(120, 227, 120);
}
input[name="submit"]:hover{
    
    border-color: rgb(39, 121, 20);
    background-color: rgb(28, 156, 28);
}
