body{
    background-color: rgb(28, 28, 126);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;   
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    border: 5px solid white;
    border-radius: 10px;
}