body{
    margin: 30px;
}
#form{
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    border-radius: 20px ;
    padding: 15px;
    text-align: center;
    border: solid;
    border-color: black;
}
label{
    float: left;
    text-align: left;
    font-size: 29px;
    color: rgb(0, 0, 0);
}
input{
    width: 80%;
    height: 20px;
    margin: 7px;
}
input[name="submit"]{
    
    padding-bottom: 20px ;
    width: 100px;
    border-radius: 100px;
    border: solid ;
    border-color: rgb(38, 95, 38);
    background-color: rgb(66, 204, 66);
}
input[name="submit"]:hover{
    
    border-color: rgb(33, 80, 22);
    background-color: rgb(43, 107, 43);
    color: white;
}
