form{
    margin: 30px;
    border: 2px solid black ;
    width: 400px;
    padding: 20px;
}
input[name=submit]{
    margin-top: 20px;
    margin-left: 130px;
    margin-bottom: 20px;
    background-color: rgb(24, 192, 24);
}
label{
    display: inline-block;
    width: 90px;
    text-align: right;
    margin: 20px;
}
